<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include layout/page-title %>
    <link type="text/css" rel="stylesheet" href="/style.css">
  </head>

  <body>
    <h1>Add Event Data</h1>
    <form action="/add-event" method="post">
      <label>Event Name</label><br>
      <input type="text" name="event_name"></input><br><br>


      <label>Schedule</label><br>
        <input type="text" name="schedule"></input><br><br>
      <label>Location</label><br>
        <input type="text" name="location"></input><br><br>
      <label>Quantity Ticket</label><br>
        <input type="text" name="qty_ticket"></input><br><br>
      <label>Price</label><br>
        <input type="text" name="Price"></input><br><br>
      <label>Category</label><br>
        <select name= "category">

          <option value="Music">Music</option>
          <option value="Seminar">Seminar</option>
          <option value="Sport">Sport</option>

        </select><br><br>
      <button type="submit">Add Event</button>
    </form>
  </body>
</html>
