<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%- include layout/page-title %>
    <link type="text/css" rel="stylesheet" href="/style.css">
  </head>

  <body>
    <div class="title">

      <h1>Under-construction, please be patient </h1>

    </div>

    <table>
      <tr>
        <th>No</th>
        <th>Event Name</th>
        <th>Category</th>
        <th>Promotor</th>
        <th>Schedule</th>
        <th>Venue</th>
        <th>Ticket Quantity</th>
        <th>Options</th>
      </tr>

    </table>
  </body>
</html>
